-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: railway_reservation
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `booking_id` int NOT NULL AUTO_INCREMENT,
  `booking_date` datetime NOT NULL,
  `booking_type` enum('Online','Counter') NOT NULL,
  `booking_status` enum('Confirmed','RAC','Waitlist') NOT NULL,
  PRIMARY KEY (`booking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cancellation`
--

DROP TABLE IF EXISTS `cancellation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cancellation` (
  `cancellation_id` int NOT NULL AUTO_INCREMENT,
  `ticket_id` int DEFAULT NULL,
  `cancellation_date` datetime NOT NULL,
  `refund_amount` decimal(10,2) NOT NULL,
  `refund_status` enum('Processed','Pending','Rejected') NOT NULL,
  PRIMARY KEY (`cancellation_id`),
  KEY `ticket_id` (`ticket_id`),
  CONSTRAINT `cancellation_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `ticket` (`ticket_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cancellation`
--

LOCK TABLES `cancellation` WRITE;
/*!40000 ALTER TABLE `cancellation` DISABLE KEYS */;
INSERT INTO `cancellation` VALUES (1,1,'2023-05-20 12:00:00',3360.00,'Processed'),(2,3,'2023-05-21 14:30:00',1152.00,'Pending'),(3,6,'2023-05-25 15:45:00',1800.00,'Processed'),(4,8,'2023-05-28 10:20:00',768.00,'Pending'),(5,13,'2023-06-02 09:15:00',1800.00,'Processed'),(6,18,'2023-06-05 16:30:00',1040.00,'Pending');
/*!40000 ALTER TABLE `cancellation` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_cancellation` AFTER INSERT ON `cancellation` FOR EACH ROW BEGIN
    DECLARE v_train_id INT;
    DECLARE v_class_id INT;
    DECLARE v_journey_date DATE;
    DECLARE v_seat_number VARCHAR(10);
    DECLARE v_status VARCHAR(20);
    
    
    SELECT train_id, class_id, journey_date, seat_number, status
    INTO v_train_id, v_class_id, v_journey_date, v_seat_number, v_status
    FROM Ticket
    WHERE ticket_id = NEW.ticket_id;
    
    
    UPDATE Ticket
    SET status = 'Cancelled'
    WHERE ticket_id = NEW.ticket_id;
    
    
    IF v_status = 'Confirmed' AND v_seat_number IS NOT NULL THEN
        UPDATE Seat
        SET status = 'Available'
        WHERE train_id = v_train_id
          AND class_id = v_class_id
          AND journey_date = v_journey_date
          AND seat_number = v_seat_number;
          
        
        UPDATE Train_Class
        SET available_seats = available_seats + 1
        WHERE train_id = v_train_id AND class_id = v_class_id;
    END IF;
    
    
    
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `class`
--

DROP TABLE IF EXISTS `class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class` (
  `class_id` int NOT NULL AUTO_INCREMENT,
  `class_name` varchar(50) NOT NULL,
  `base_fare_per_km` decimal(10,2) NOT NULL,
  PRIMARY KEY (`class_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class`
--

LOCK TABLES `class` WRITE;
/*!40000 ALTER TABLE `class` DISABLE KEYS */;
INSERT INTO `class` VALUES (1,'Sleeper',1.00),(2,'AC 3-tier',2.50),(3,'AC 2-tier',3.50),(4,'First Class',5.00),(5,'Second Sitting',0.75),(6,'AC Chair Car',2.00),(7,'Executive Class',6.00);
/*!40000 ALTER TABLE `class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `concession`
--

DROP TABLE IF EXISTS `concession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `concession` (
  `concession_id` int NOT NULL AUTO_INCREMENT,
  `concession_type` varchar(50) NOT NULL,
  `discount_percentage` decimal(5,2) NOT NULL,
  `description` text,
  PRIMARY KEY (`concession_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `concession`
--

LOCK TABLES `concession` WRITE;
/*!40000 ALTER TABLE `concession` DISABLE KEYS */;
/*!40000 ALTER TABLE `concession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passenger`
--

DROP TABLE IF EXISTS `passenger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passenger` (
  `passenger_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `age` int DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  `mobile` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `proof_type` varchar(50) DEFAULT NULL,
  `proof_number` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`passenger_id`),
  KEY `idx_passenger_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passenger`
--

LOCK TABLES `passenger` WRITE;
/*!40000 ALTER TABLE `passenger` DISABLE KEYS */;
/*!40000 ALTER TABLE `passenger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passenger_concession`
--

DROP TABLE IF EXISTS `passenger_concession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passenger_concession` (
  `passenger_id` int NOT NULL,
  `concession_id` int NOT NULL,
  `valid_until` date DEFAULT NULL,
  PRIMARY KEY (`passenger_id`,`concession_id`),
  KEY `concession_id` (`concession_id`),
  CONSTRAINT `passenger_concession_ibfk_1` FOREIGN KEY (`passenger_id`) REFERENCES `passenger` (`passenger_id`),
  CONSTRAINT `passenger_concession_ibfk_2` FOREIGN KEY (`concession_id`) REFERENCES `concession` (`concession_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passenger_concession`
--

LOCK TABLES `passenger_concession` WRITE;
/*!40000 ALTER TABLE `passenger_concession` DISABLE KEYS */;
INSERT INTO `passenger_concession` VALUES (3,1,'2025-12-31'),(4,2,'2025-12-31'),(5,3,'2024-06-30'),(7,1,'2024-12-31'),(8,2,'2024-12-31'),(9,3,'2024-05-31'),(10,2,'2025-06-30'),(13,1,'2024-11-30'),(14,2,'2025-03-31'),(15,3,'2024-07-31'),(16,2,'2025-01-31'),(17,1,'2024-09-30'),(18,2,'2024-08-31'),(19,3,'2024-04-30'),(20,2,'2025-05-31');
/*!40000 ALTER TABLE `passenger_concession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `ticket_id` int DEFAULT NULL,
  `payment_mode` enum('Credit Card','Debit Card','Net Banking','UPI','Cash') NOT NULL,
  `payment_amount` decimal(10,2) NOT NULL,
  `payment_date` datetime NOT NULL,
  `payment_status` enum('Success','Failed','Pending') NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `idx_payment_ticket` (`ticket_id`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `ticket` (`ticket_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
INSERT INTO `payment` VALUES (1,1,'Credit Card',2500.00,'2023-05-15 10:35:00','Success'),(2,2,'Cash',3500.00,'2023-05-16 11:50:00','Success'),(3,3,'Net Banking',1800.00,'2023-05-17 09:20:00','Success'),(4,4,'UPI',1200.00,'2023-05-18 14:25:00','Success'),(5,5,'Debit Card',2800.00,'2023-05-19 16:05:00','Success');
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `route` (
  `route_id` int NOT NULL AUTO_INCREMENT,
  `train_id` int DEFAULT NULL,
  `sequence_number` int NOT NULL,
  `station_id` int DEFAULT NULL,
  `arrival_time` time DEFAULT NULL,
  `departure_time` time DEFAULT NULL,
  `distance_from_source` decimal(10,2) NOT NULL,
  PRIMARY KEY (`route_id`),
  UNIQUE KEY `train_id` (`train_id`,`sequence_number`),
  KEY `station_id` (`station_id`),
  KEY `idx_route_train` (`train_id`),
  CONSTRAINT `route_ibfk_1` FOREIGN KEY (`train_id`) REFERENCES `train` (`train_id`),
  CONSTRAINT `route_ibfk_2` FOREIGN KEY (`station_id`) REFERENCES `station` (`station_id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route`
--

LOCK TABLES `route` WRITE;
/*!40000 ALTER TABLE `route` DISABLE KEYS */;
/*!40000 ALTER TABLE `route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `train_id` int DEFAULT NULL,
  `running_days` varchar(20) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  PRIMARY KEY (`schedule_id`),
  KEY `train_id` (`train_id`),
  CONSTRAINT `schedule_ibfk_1` FOREIGN KEY (`train_id`) REFERENCES `train` (`train_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat`
--

DROP TABLE IF EXISTS `seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat` (
  `seat_id` int NOT NULL AUTO_INCREMENT,
  `train_id` int DEFAULT NULL,
  `class_id` int DEFAULT NULL,
  `seat_number` varchar(10) NOT NULL,
  `journey_date` date NOT NULL,
  `status` enum('Available','Booked','RAC') NOT NULL,
  PRIMARY KEY (`seat_id`),
  UNIQUE KEY `train_id` (`train_id`,`class_id`,`seat_number`,`journey_date`),
  KEY `class_id` (`class_id`),
  KEY `idx_seat_train_class_date` (`train_id`,`class_id`,`journey_date`),
  CONSTRAINT `seat_ibfk_1` FOREIGN KEY (`train_id`) REFERENCES `train` (`train_id`),
  CONSTRAINT `seat_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `class` (`class_id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat`
--

LOCK TABLES `seat` WRITE;
/*!40000 ALTER TABLE `seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `station`
--

DROP TABLE IF EXISTS `station`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `station` (
  `station_id` int NOT NULL AUTO_INCREMENT,
  `station_name` varchar(100) NOT NULL,
  `station_code` varchar(10) NOT NULL,
  `city` varchar(50) NOT NULL,
  `state` varchar(50) NOT NULL,
  PRIMARY KEY (`station_id`),
  UNIQUE KEY `station_code` (`station_code`),
  KEY `idx_station_code` (`station_code`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `station`
--

LOCK TABLES `station` WRITE;
/*!40000 ALTER TABLE `station` DISABLE KEYS */;
/*!40000 ALTER TABLE `station` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket`
--

DROP TABLE IF EXISTS `ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket` (
  `ticket_id` int NOT NULL AUTO_INCREMENT,
  `pnr_number` varchar(10) NOT NULL,
  `booking_id` int DEFAULT NULL,
  `passenger_id` int DEFAULT NULL,
  `train_id` int DEFAULT NULL,
  `class_id` int DEFAULT NULL,
  `journey_date` date NOT NULL,
  `from_station_id` int DEFAULT NULL,
  `to_station_id` int DEFAULT NULL,
  `seat_number` varchar(10) DEFAULT NULL,
  `status` enum('Confirmed','RAC','Waitlist','Cancelled') NOT NULL,
  `fare` decimal(10,2) DEFAULT NULL,
  `concession_applied` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ticket_id`),
  UNIQUE KEY `pnr_number` (`pnr_number`),
  KEY `booking_id` (`booking_id`),
  KEY `passenger_id` (`passenger_id`),
  KEY `class_id` (`class_id`),
  KEY `from_station_id` (`from_station_id`),
  KEY `to_station_id` (`to_station_id`),
  KEY `idx_ticket_pnr` (`pnr_number`),
  KEY `idx_ticket_train_journey` (`train_id`,`journey_date`),
  KEY `idx_ticket_status` (`status`),
  CONSTRAINT `ticket_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `booking` (`booking_id`),
  CONSTRAINT `ticket_ibfk_2` FOREIGN KEY (`passenger_id`) REFERENCES `passenger` (`passenger_id`),
  CONSTRAINT `ticket_ibfk_3` FOREIGN KEY (`train_id`) REFERENCES `train` (`train_id`),
  CONSTRAINT `ticket_ibfk_4` FOREIGN KEY (`class_id`) REFERENCES `class` (`class_id`),
  CONSTRAINT `ticket_ibfk_5` FOREIGN KEY (`from_station_id`) REFERENCES `station` (`station_id`),
  CONSTRAINT `ticket_ibfk_6` FOREIGN KEY (`to_station_id`) REFERENCES `station` (`station_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket`
--

LOCK TABLES `ticket` WRITE;
/*!40000 ALTER TABLE `ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `train`
--

DROP TABLE IF EXISTS `train`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `train` (
  `train_id` int NOT NULL AUTO_INCREMENT,
  `train_name` varchar(100) NOT NULL,
  `train_type` varchar(50) DEFAULT NULL,
  `total_seats` int DEFAULT NULL,
  `source_station_id` int DEFAULT NULL,
  `destination_station_id` int DEFAULT NULL,
  PRIMARY KEY (`train_id`),
  KEY `source_station_id` (`source_station_id`),
  KEY `destination_station_id` (`destination_station_id`),
  CONSTRAINT `train_ibfk_1` FOREIGN KEY (`source_station_id`) REFERENCES `station` (`station_id`),
  CONSTRAINT `train_ibfk_2` FOREIGN KEY (`destination_station_id`) REFERENCES `station` (`station_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `train`
--

LOCK TABLES `train` WRITE;
/*!40000 ALTER TABLE `train` DISABLE KEYS */;
/*!40000 ALTER TABLE `train` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `train_class`
--

DROP TABLE IF EXISTS `train_class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `train_class` (
  `train_id` int NOT NULL,
  `class_id` int NOT NULL,
  `total_seats` int NOT NULL,
  `available_seats` int NOT NULL,
  PRIMARY KEY (`train_id`,`class_id`),
  KEY `class_id` (`class_id`),
  CONSTRAINT `train_class_ibfk_1` FOREIGN KEY (`train_id`) REFERENCES `train` (`train_id`),
  CONSTRAINT `train_class_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `class` (`class_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `train_class`
--

LOCK TABLES `train_class` WRITE;
/*!40000 ALTER TABLE `train_class` DISABLE KEYS */;
/*!40000 ALTER TABLE `train_class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'railway_reservation'
--
/*!50003 DROP FUNCTION IF EXISTS `CalculateFare` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `CalculateFare`(
    p_passenger_id INT,
    p_train_id INT,
    p_class_id INT,
    p_from_station_id INT,
    p_to_station_id INT
) RETURNS decimal(10,2)
    DETERMINISTIC
BEGIN
    DECLARE v_distance DECIMAL(10,2);
    DECLARE v_base_fare DECIMAL(10,2);
    DECLARE v_concession DECIMAL(10,2) DEFAULT 0;
    DECLARE v_total_fare DECIMAL(10,2);
    
    
    SELECT (r2.distance_from_source - r1.distance_from_source) INTO v_distance
    FROM Route r1
    JOIN Route r2 ON r1.train_id = r2.train_id
    WHERE r1.train_id = p_train_id 
      AND r1.station_id = p_from_station_id
      AND r2.station_id = p_to_station_id;
    
    
    SELECT base_fare_per_km * v_distance INTO v_base_fare
    FROM Class
    WHERE class_id = p_class_id;
    
    
    SELECT SUM(c.discount_percentage * v_base_fare / 100) INTO v_concession
    FROM Passenger_Concession pc
    JOIN Concession c ON pc.concession_id = c.concession_id
    WHERE pc.passenger_id = p_passenger_id
      AND pc.valid_until >= CURDATE();
    
    SET v_total_fare = v_base_fare - IFNULL(v_concession, 0);
    
    RETURN v_total_fare;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `BookTicket` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `BookTicket`(
    IN p_passenger_id INT,
    IN p_train_id INT,
    IN p_class_id INT,
    IN p_journey_date DATE,
    IN p_from_station_id INT,
    IN p_to_station_id INT,
    IN p_booking_type ENUM('Online', 'Counter'),
    IN p_payment_mode ENUM('Credit Card', 'Debit Card', 'Net Banking', 'UPI', 'Cash')
)
BEGIN
    DECLARE v_fare DECIMAL(10,2);
    DECLARE v_distance DECIMAL(10,2);
    DECLARE v_available_seats INT;
    DECLARE v_booking_id INT;
    DECLARE v_pnr_number VARCHAR(10);
    DECLARE v_ticket_id INT;
    DECLARE v_seat_number VARCHAR(10);
    DECLARE v_status ENUM('Confirmed', 'RAC', 'Waitlist');
    DECLARE v_concession DECIMAL(10,2) DEFAULT 0;
    
    
    SELECT (r2.distance_from_source - r1.distance_from_source) INTO v_distance
    FROM Route r1
    JOIN Route r2 ON r1.train_id = r2.train_id
    WHERE r1.train_id = p_train_id 
      AND r1.station_id = p_from_station_id
      AND r2.station_id = p_to_station_id;
    
    
    SELECT base_fare_per_km * v_distance INTO v_fare
    FROM Class
    WHERE class_id = p_class_id;
    
    
    SELECT SUM(c.discount_percentage * v_fare / 100) INTO v_concession
    FROM Passenger_Concession pc
    JOIN Concession c ON pc.concession_id = c.concession_id
    WHERE pc.passenger_id = p_passenger_id
      AND pc.valid_until >= CURDATE();
    
    SET v_fare = v_fare - IFNULL(v_concession, 0);
    
    
    SELECT available_seats INTO v_available_seats
    FROM Train_Class
    WHERE train_id = p_train_id AND class_id = p_class_id;
    
    
    IF v_available_seats > 0 THEN
        SET v_status = 'Confirmed';
        
        
        SELECT seat_number INTO v_seat_number
        FROM Seat
        WHERE train_id = p_train_id 
          AND class_id = p_class_id
          AND journey_date = p_journey_date
          AND status = 'Available'
        LIMIT 1;
        
        
        UPDATE Seat
        SET status = 'Booked'
        WHERE train_id = p_train_id 
          AND class_id = p_class_id
          AND journey_date = p_journey_date
          AND seat_number = v_seat_number;
    ELSE
        
        SET v_status = 'RAC';
        SET v_seat_number = NULL;
    END IF;
    
    
    SET v_pnr_number = CONCAT('PNR', FLOOR(RAND() * 900000 + 100000));
    
    
    INSERT INTO Booking (booking_date, booking_type, booking_status)
    VALUES (NOW(), p_booking_type, v_status);
    
    SET v_booking_id = LAST_INSERT_ID();
    
    
    INSERT INTO Ticket (pnr_number, booking_id, passenger_id, train_id, class_id, 
                        journey_date, from_station_id, to_station_id, 
                        seat_number, status, fare, concession_applied)
    VALUES (v_pnr_number, v_booking_id, p_passenger_id, p_train_id, p_class_id,
            p_journey_date, p_from_station_id, p_to_station_id,
            v_seat_number, v_status, v_fare + IFNULL(v_concession, 0), IFNULL(v_concession, 0));
    
    SET v_ticket_id = LAST_INSERT_ID();
    
    
    INSERT INTO Payment (ticket_id, payment_mode, payment_amount, payment_date, payment_status)
    VALUES (v_ticket_id, p_payment_mode, v_fare, NOW(), 'Success');
    
    
    IF v_status = 'Confirmed' THEN
        UPDATE Train_Class
        SET available_seats = available_seats - 1
        WHERE train_id = p_train_id AND class_id = p_class_id;
    END IF;
    
    
    SELECT v_pnr_number AS pnr_number, v_status AS status;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `CalculateCancellationRefund` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `CalculateCancellationRefund`(
    IN p_train_id INT,
    IN p_cancellation_date DATE
)
BEGIN
    SELECT SUM(c.refund_amount) AS total_refund_amount
    FROM Cancellation c
    JOIN Ticket t ON c.ticket_id = t.ticket_id
    WHERE t.train_id = p_train_id 
      AND DATE(c.cancellation_date) = p_cancellation_date;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `CheckPNRStatus` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `CheckPNRStatus`(IN p_pnr_number VARCHAR(10))
BEGIN
    SELECT t.pnr_number, t.status, 
           p.name AS passenger_name, tr.train_name, 
           c.class_name, t.journey_date,
           s1.station_name AS from_station, 
           s2.station_name AS to_station,
           t.seat_number
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Train tr ON t.train_id = tr.train_id
    JOIN Class c ON t.class_id = c.class_id
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    WHERE t.pnr_number = p_pnr_number;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `CheckSeatAvailability` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `CheckSeatAvailability`(
    IN p_train_id INT,
    IN p_class_id INT,
    IN p_journey_date DATE
)
BEGIN
    
    SELECT tc.available_seats AS total_available_seats
    FROM Train_Class tc
    WHERE tc.train_id = p_train_id AND tc.class_id = p_class_id;
    
    
    SELECT seat_number
    FROM Seat
    WHERE train_id = p_train_id 
      AND class_id = p_class_id 
      AND journey_date = p_journey_date
      AND status = 'Available';
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `FindBusiestRoutes` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `FindBusiestRoutes`(
    IN p_start_date DATE,
    IN p_end_date DATE
)
BEGIN
    SELECT s1.station_name AS source, 
           s2.station_name AS destination,
           COUNT(*) AS passenger_count
    FROM Ticket t
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    WHERE t.journey_date BETWEEN p_start_date AND p_end_date
      AND t.status = 'Confirmed'
    GROUP BY t.from_station_id, t.to_station_id
    ORDER BY passenger_count DESC
    LIMIT 5;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `FindTrainsBetweenStations` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `FindTrainsBetweenStations`(
    IN p_from_station_id INT,
    IN p_to_station_id INT,
    IN p_journey_date DATE
)
BEGIN
    SELECT DISTINCT t.train_id, t.train_name, t.train_type,
           (SELECT departure_time FROM Route WHERE train_id = t.train_id AND station_id = p_from_station_id) AS departure_time,
           (SELECT arrival_time FROM Route WHERE train_id = t.train_id AND station_id = p_to_station_id) AS arrival_time,
           tc.class_id, c.class_name, tc.available_seats
    FROM Train t
    JOIN Route r1 ON t.train_id = r1.train_id
    JOIN Route r2 ON t.train_id = r2.train_id
    JOIN Train_Class tc ON t.train_id = tc.train_id
    JOIN Class c ON tc.class_id = c.class_id
    WHERE r1.station_id = p_from_station_id
      AND r2.station_id = p_to_station_id
      AND r1.sequence_number < r2.sequence_number
      AND EXISTS (
          SELECT 1 FROM Schedule 
          WHERE train_id = t.train_id 
            AND (running_days LIKE CONCAT('%', DAYOFWEEK(p_journey_date)-1, '%') OR running_days = '1111111')
            AND start_date <= p_journey_date
            AND (end_date IS NULL OR end_date >= p_journey_date)
      )
    ORDER BY departure_time;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GenerateRevenueReport` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GenerateRevenueReport`(
    IN p_start_date DATE,
    IN p_end_date DATE
)
BEGIN
    
    SELECT SUM(p.payment_amount) AS total_revenue
    FROM Payment p
    WHERE p.payment_date BETWEEN p_start_date AND p_end_date
      AND p.payment_status = 'Success';
    
    
    SELECT payment_mode, SUM(payment_amount) AS mode_revenue
    FROM Payment
    WHERE payment_date BETWEEN p_start_date AND p_end_date
      AND payment_status = 'Success'
    GROUP BY payment_mode;
    
    
    SELECT t.train_name, SUM(py.payment_amount) AS train_revenue
    FROM Payment py
    JOIN Ticket tk ON py.ticket_id = tk.ticket_id
    JOIN Train t ON tk.train_id = t.train_id
    WHERE py.payment_date BETWEEN p_start_date AND p_end_date
      AND py.payment_status = 'Success'
    GROUP BY t.train_id, t.train_name;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GenerateTicketBill` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GenerateTicketBill`(IN p_pnr_number VARCHAR(10))
BEGIN
    SELECT t.pnr_number, p.name AS passenger_name,
           tr.train_name, c.class_name,
           t.journey_date,
           s1.station_name AS from_station,
           s2.station_name AS to_station,
           t.fare AS base_fare,
           t.concession_applied,
           (t.fare - t.concession_applied) AS net_fare,
           py.payment_mode,
           py.payment_amount,
           py.payment_date,
           CASE 
               WHEN t.concession_applied > 0 THEN 'Yes'
               ELSE 'No'
           END AS concession_used
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Train tr ON t.train_id = tr.train_id
    JOIN Class c ON t.class_id = c.class_id
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    JOIN Payment py ON t.ticket_id = py.ticket_id
    WHERE t.pnr_number = p_pnr_number;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetAverageAgePerClass` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetAverageAgePerClass`()
BEGIN
    SELECT c.class_name, AVG(p.age) AS average_age
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Class c ON t.class_id = c.class_id
    GROUP BY c.class_id
    ORDER BY average_age DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetCancellationRecords` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetCancellationRecords`(
    IN p_start_date DATE,
    IN p_end_date DATE
)
BEGIN
    SELECT t.pnr_number, p.name AS passenger_name,
           c.cancellation_date, c.refund_amount,
           c.refund_status, tr.train_name
    FROM Cancellation c
    JOIN Ticket t ON c.ticket_id = t.ticket_id
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Train tr ON t.train_id = tr.train_id
    WHERE c.cancellation_date BETWEEN p_start_date AND p_end_date
    ORDER BY c.cancellation_date DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetConcessionEligibleWithoutApplication` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetConcessionEligibleWithoutApplication`()
BEGIN
    SELECT p.name, p.age, pc.concession_type
    FROM Passenger p
    JOIN Passenger_Concession pc ON p.passenger_id = pc.passenger_id
    LEFT JOIN Ticket t ON p.passenger_id = t.passenger_id AND t.concession_applied > 0
    WHERE t.ticket_id IS NULL;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetMostBookedClass` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetMostBookedClass`()
BEGIN
    SELECT c.class_name, COUNT(*) AS ticket_count
    FROM Ticket t
    JOIN Class c ON t.class_id = c.class_id
    WHERE t.status = 'Confirmed'
    GROUP BY c.class_id
    ORDER BY ticket_count DESC
    LIMIT 1;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetPassengersByTrain` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetPassengersByTrain`(
    IN p_train_id INT,
    IN p_journey_date DATE
)
BEGIN
    SELECT p.name, p.age, p.gender, 
           c.class_name, t.seat_number,
           s1.station_name AS from_station,
           s2.station_name AS to_station
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Class c ON t.class_id = c.class_id
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    WHERE t.train_id = p_train_id 
      AND t.journey_date = p_journey_date
      AND t.status = 'Confirmed';
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetRevenueByPaymentMode` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetRevenueByPaymentMode`()
BEGIN
    SELECT payment_mode, SUM(payment_amount) AS total_revenue
    FROM Payment
    WHERE payment_status = 'Success'
    GROUP BY payment_mode
    ORDER BY total_revenue DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetTicketDetails` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetTicketDetails`(IN p_pnr_number VARCHAR(10))
BEGIN
    SELECT t.pnr_number, t.status, 
           p.name AS passenger_name, tr.train_name, 
           c.class_name, t.journey_date,
           s1.station_name AS from_station, 
           s2.station_name AS to_station,
           t.seat_number
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Train tr ON t.train_id = tr.train_id
    JOIN Class c ON t.class_id = c.class_id
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    WHERE t.pnr_number = p_pnr_number;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetTrainCancellations` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetTrainCancellations`()
BEGIN
    SELECT t.train_name, COUNT(*) AS cancellation_count
    FROM Cancellation c
    JOIN Ticket tk ON c.ticket_id = tk.ticket_id
    JOIN Train t ON tk.train_id = t.train_id
    GROUP BY tk.train_id
    ORDER BY cancellation_count DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetTrainSchedule` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetTrainSchedule`(IN p_train_id INT)
BEGIN
    SELECT t.train_name, 
           s.station_name, 
           r.arrival_time, 
           r.departure_time, 
           r.distance_from_source
    FROM Route r
    JOIN Train t ON r.train_id = t.train_id
    JOIN Station s ON r.station_id = s.station_id
    WHERE t.train_id = p_train_id
    ORDER BY r.sequence_number;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetWaitlistedPassengers` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetWaitlistedPassengers`(
    IN p_train_id INT,
    IN p_journey_date DATE
)
BEGIN
    SELECT p.name, t.pnr_number, t.journey_date,
           s1.station_name AS from_station,
           s2.station_name AS to_station,
           b.booking_date
    FROM Ticket t
    JOIN Passenger p ON t.passenger_id = p.passenger_id
    JOIN Booking b ON t.booking_id = b.booking_id
    JOIN Station s1 ON t.from_station_id = s1.station_id
    JOIN Station s2 ON t.to_station_id = s2.station_id
    WHERE t.train_id = p_train_id 
      AND t.journey_date = p_journey_date
      AND t.status = 'Waitlist'
    ORDER BY b.booking_date;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `k` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `k`()
BEGIN
    SELECT SUM(fare) AS revenue
    FROM ticket;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `k1` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `k1`()
BEGIN
    SELECT SUM(p.payment_amount) AS revenue, p.payment_mode
    FROM payment p
    GROUP BY p.payment_mode
    ORDER BY SUM(p.payment_amount);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `p` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `p`(IN n VARCHAR(20))
BEGIN
    SELECT 
        t.pnr_number,
        t.status,
        p.name,
        tr.train_name,
        c.class_name,
        t.journey_date,
        s.station_name AS source_station,
        s1.station_name AS destination_station,
        t.seat_number
    FROM ticket t
    JOIN passenger p ON t.passenger_id = p.passenger_id
    JOIN train tr ON tr.train_id = t.train_id
    JOIN class c ON c.class_id = t.class_id
    JOIN station s ON s.station_id = t.from_station_id
    JOIN station s1 ON s1.station_id = t.to_station_id
    WHERE t.pnr_number = n;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-19 18:16:25
